In [12]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [14]:
df = pd.read('Salaries.csv')

AttributeError: module 'pandas' has no attribute 'read'

In [4]:
df

,Employee Name,Job Title,Base Pay,Overtime Pay,Other Pay,Benefits,Total Pay,Total Pay & Benefits,Year,Status
0,Janet Lee Miller,Court Staff Attorney II,0.0,0.0,0.0,0.0,0.00,0.00,2019,PT
1,Gary Mar,Electrical Transit System Mech,97354.53,6996.5,2380.0,38855.9,106731.03,145586.93,2019,FT
2,Checil A Salvosa,Licensed Vocational Nurse,86118.0,17212.96,7272.08,34942.38,110603.04,145545.42,2019,FT
3,Kristian C Smock,"Stationary Eng, Sewage Plant",106816.03,0.0,0.0,38729.65,106816.03,145545.68,2019,FT
4,Yun Y Chang,Pharmacy Technician,94039.13,14947.99,1241.69,35330.26,110228.81,145559.07,2019,FT
...,...,...,...,...,...,...,...,...,...,...
357402,HOWARD CHUCK,CUSTODIAN,46106.73,890.49,4839.07,Not Provided,51836.29,51836.29,2011,NaN
357403,BING KEUNG MAK,CUSTODIAN,48472.4,1972.35,1390.5,Not Provided,51835.25,51835.25,2011,NaN
357404,QIN MING ZHU,CUSTODIAN,46046.29,1853.97,3934.44,Not Provided,51834.70,51834.70,2011,NaN
357405,JOSE ALONZO,CUSTODIAN,47798.87,0.0,4032.55,Not Provided,51831.42,51831.42,2011,NaN
357406,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,Not Provided,567595.43,567595.43,2011,NaN

In [5]:
df.shape

(357407, 10)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357407 entries, 0 to 357406
Data columns (total 10 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Employee Name         357407 non-null  object
 1   Job Title             357407 non-null  object
 2   Base Pay              357407 non-null  object
 3   Overtime Pay          357407 non-null  object
 4   Other Pay             357407 non-null  object
 5   Benefits              357407 non-null  object
 6   Total Pay             357407 non-null  float64
 7   Total Pay & Benefits  357407 non-null  float64
 8   Year                  357407 non-null  int64
 9   Status                205906 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 27.3+ MB

In [10]:
df = pd.read('Salaries.csv')

AttributeError: module 'pandas' has no attribute 'read'